ul {
    border: 2px solid purple;
    padding: .5em;
    list-style: none;
    display: flex;
}

li {
    border: 2px solid blue;
    padding: .5em;
    margin: 2px;
}

li:hover{
    background-color: black;
    color: white;
}